body{
	background-color: rgb(210,210,210);
}

header{
	background-color: rgb(120,0,0);
	padding: 15px;
	text-align: center;	
	color: white;
}

.txtContent{
	margin-right: 15px;
	padding: 20px;
	background-color: white;
	width: 100%;
	height: 30%;
	border-left: 6px solid rgb(120,0,0);
}

.imgPoster{
	width: 30%;
	height: 70%;
}

.content{
	width: 100%;
	display: inline-flex;
	text-align: left;
}

.btnRegister{
	position: absolute;
	top: 70%;
	background-color: #428bca;
	color: white;
	padding: 15px;
	width: 100px;
	border: 0px;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

.btnRegister:hover{
	background-color: #357ebd;
}
